.container{
  display: flex;
  max-width: 1600px;
  // border: 1px solid rgb(0, 255, 21);
  margin: 0.5em auto ;
}

#heol {
  width: 40%;
  // border: 2px solid red;
}
.div1{
  width: 60%;
}
#articlesbox{
  background-image: url("/assets/img/pattern.jpg");
  // background-image: url(https://dezlwerqy1h00.cloudfront.net/images/global/pattern-dark-grey.jpg);
}

@media screen and (max-width: 1024px){
  .container{
    display: block;
    width: 100%;
    margin: 0.1em auto ;
  }
  #heol {
    width: 100%;
    // border: 2px solid red;
  }
  .div1{
    width: 100%;
  }
}

